@page "/course/create"
@using GolfMatchScore.Shared.Models.Course
@attribute [Authorize]
@inject HttpClient http
@inject NavigationManager navigation

<h3>Create</h3>

@if (errorMessage != null)
{
    <h5 class="text-danger">@errorMessage</h5>
}

<div class="container">
    <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label>Course Name</label>
            <InputText class="form-control" @bind-Value="model.CourseName" />
            <label>City</label>
            <InputText class="form-control" @bind-Value="model.CourseCity" />
            <label>State></label>
            <InputText class="form-control" @bind-Value="model.CourseState" />
            <label>Par</label>
            <InputNumber class="form-control" @bind-Value="model.CoursePar" />
            <label>Length (yds)</label>
            <InputNumber class="form-control" @bind-Value="model.CourseLength" />
            <label>Difficulty Rating</label>
            <InputNumber class="form-control" @bind-Value="model.CourseDifficultyRating" />
            <label>Course Slope</label>
            <InputNumber class="form-control" @bind-Value="model.CourseSlope" />

        </div>
        <button type="submit" class="btn btn-primary btn-block mt-5">Submit</button>
    </EditForm>
</div>

@code {
    private CourseCreate model = new();
    private string errorMessage;

    private async void HandleSubmit()
    {
        var createCourse = await http.PostAsJsonAsync<CourseCreate>("/api/course", model);

        if (createCourse.IsSuccessStatusCode)
        {
            navigation.NavigateTo("/course");
        }
        else
        {
            errorMessage = "Could not create a course right now.  Please try again later.";
        }
    }
}
