@page "/player"
@using GolfMatchScore.Shared.Models.Player
@inject HttpClient http
@attribute [Authorize]

<h3>List of Players</h3>

<a href="/player/create/">Add a Player</a>

@if (players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Player Name</th>
                <th>School</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PlayerListItem player in players)
            {
                <tr>
                    <td>@player.PlayerId</td>
                    <td>@player.PlayerFirstName @player.PlayerLastName</td>
                    <td>@player.Team.TeamSchool</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<PlayerListItem> players;

    protected override async Task OnInitializedAsync()
    {
        players = await http.GetFromJsonAsync<List<PlayerListItem>>("api/player");
    }
}
