@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main page-image-background">
        <div class="top-row px-4 auth ">
            <LoginDisplay />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<style>
.page-image-background {
    background-image: url("./assets/images/green-grass-textures.jpg");
    background-size: cover;
}
</style>