@page "/"


<div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">This webabb was developed to provide tracking of golf matches for schools.  It allows users to enter, change and even remove teams, individual rounds, golf course information, and player information.</p>
    <hr class="my-4" />
    <p>This app was originally designed as my final project for <a href="https://www.elevenfifty.org">Eleven Fifty Academy's</a> Software Development Course.  From a personal standpoint, my daughter plays golf, and I wanted to 
        be able to have a way for coaches to record score information, plan golf matches, and track some statistics (at a basic level for right now). Parents and players would be able to view information and statistics as well.</p>
</div>


